openapi: 3.0.3
info:
  title: API.Rasp.Yandex.Net
  description: API Яндекс.Расписаний (с поддержкой JSON + HTML fallback)
  version: 3.0.0

servers:
  - url: https://api.rasp.yandex-net.ru

tags:
  - name: nearestStations
    description: Список ближайших станций
  - name: scheduleOnStation
    description: Расписание на станции
  - name: thread
    description: Информация о нитке / станции следования
  - name: ridesBetweenStations
    description: Расписание рейсов между станциями (search)
  - name: nearestSettlement
    description: Ближайший населённый пункт
  - name: carrier
    description: Информация о перевозчике
  - name: stationsList
    description: Список всех доступных станций
  - name: copyright
    description: Копирайт Яндекс.Расписаний

paths:
  #############################
  # 1) nearest_stations
  #############################
  /v3.0/nearest_stations/:
    get:
      operationId: getNearestStations
      tags: [nearestStations]
      summary: Список ближайших станций
      parameters:
        - name: apikey
          in: query
          required: true
          schema: { type: string }
        - name: lat
          in: query
          required: true
          schema: { type: number }
        - name: lng
          in: query
          required: true
          schema: { type: number }
        - name: distance
          in: query
          required: true
          schema: { type: integer }
        - name: format
          in: query
          required: false
          schema: { type: string, enum: ["json", "xml"] }
        - name: lang
          in: query
          required: false
          schema: { type: string }
      responses:
        "200":
          description: Success (NearestStationsResponse or raw HTML)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NearestStationsResponse"
            text/html:
              schema:
                type: string

  #############################
  # 2) schedule_on_station
  #############################
  /v3.0/schedule/:
    get:
      operationId: getScheduleOnStation
      tags: [scheduleOnStation]
      summary: Расписание на станции
      parameters:
        - name: apikey
          in: query
          required: true
          schema: { type: string }
        - name: station
          in: query
          required: true
          schema: { type: string }
        - name: date
          in: query
          schema: { type: string }
        - name: transport_types
          in: query
          schema: { type: string }
        - name: event
          in: query
          schema: { type: string }
        - name: system
          in: query
          schema: { type: string }
        - name: show_systems
          in: query
          schema: { type: string }
        - name: direction
          in: query
          schema: { type: string }
        - name: result_timezone
          in: query
          schema: { type: string }
        - name: format
          in: query
          schema: { type: string, enum: ["json", "html"] }
        - name: lang
          in: query
          schema: { type: string }
      responses:
        "200":
          description: Success (ScheduleOnStationResponse or raw HTML)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScheduleOnStationResponse"
            text/html:
              schema:
                type: string

  #############################
  # 3) thread details
  #############################
  /v3.0/thread/:
    get:
      operationId: getThread
      tags: [thread]
      summary: Список станций следования нитки / детали нитки
      parameters:
        - name: apikey
          in: query
          required: true
          schema: { type: string }
        - name: uid
          in: query
          required: true
          schema: { type: string }
        - name: from
          in: query
          schema: { type: string }
        - name: to
          in: query
          schema: { type: string }
        - name: date
          in: query
          schema: { type: string }
        - name: format
          in: query
          schema: { type: string, enum: ["json","html"] }
        - name: lang
          in: query
          schema: { type: string }
        - name: show_systems
          in: query
          schema: { type: string }
      responses:
        "200":
          description: Success (ThreadResponse or raw HTML)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ThreadResponse"
            text/html:
              schema:
                type: string

  #############################
  # 4) rides between stations (search)
  #############################
  /v3.0/search/:
    get:
      operationId: getRidesBetweenStations
      tags: [ridesBetweenStations]
      summary: Расписание рейсов между станциями (поиск)
      parameters:
        - name: apikey
          in: query
          required: true
          schema: { type: string }
        - name: from
          in: query
          required: true
          schema: { type: string }
        - name: to
          in: query
          required: true
          schema: { type: string }
        - name: date
          in: query
          schema: { type: string }
        - name: transport_types
          in: query
          schema: { type: string }
        - name: format
          in: query
          schema: { type: string, enum: ["json","html"] }
        - name: lang
          in: query
          schema: { type: string }
      responses:
        "200":
          description: Success (SearchRidesResponse or raw HTML)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchRidesResponse"
            text/html:
              schema:
                type: string

  #############################
  # 5) nearest_settlement (nearest city)
  #############################
  /v3.0/nearest_settlement/:
    get:
      operationId: getNearestSettlement
      tags: [nearestSettlement]
      summary: Ближайший населённый пункт
      parameters:
        - name: apikey
          in: query
          required: true
          schema: { type: string }
        - name: lat
          in: query
          required: true
          schema: { type: number }
        - name: lng
          in: query
          required: true
          schema: { type: number }
        - name: distance
          in: query
          schema: { type: number }
        - name: format
          in: query
          schema: { type: string, enum: ["json","html"] }
        - name: lang
          in: query
          schema: { type: string }
      responses:
        "200":
          description: Success (NearestSettlementResponse or raw HTML)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NearestSettlementResponse"
            text/html:
              schema:
                type: string

  #############################
  # 6) carrier info
  #############################
  /v3.0/carrier/:
    get:
      operationId: getCarrierInfo
      tags: [carrier]
      summary: Информация о перевозчике
      parameters:
        - name: apikey
          in: query
          required: true
          schema: { type: string }
        - name: code
          in: query
          required: true
          schema: { type: string }
        - name: system
          in: query
          schema: { type: string }
        - name: format
          in: query
          schema: { type: string, enum: ["json","html"] }
        - name: lang
          in: query
          schema: { type: string }
      responses:
        "200":
          description: Success (CarrierResponse or raw HTML)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CarrierResponse"
            text/html:
              schema:
                type: string

  #############################
  # 7) stations_list
  #############################
  /v3.0/stations_list/:
    get:
      operationId: getStationsList
      tags: [stationsList]
      summary: Список всех доступных станций (countries/regions/settlements/stations)
      parameters:
        - name: apikey
          in: query
          required: true
          schema: { type: string }
        - name: format
          in: query
          schema: { type: string, enum: ["json","html"] }
        - name: lang
          in: query
          schema: { type: string }
      responses:
        "200":
          description: Success (StationsListResponse or raw HTML)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StationsListResponse"
            text/html:
              schema:
                type: string

  #############################
  # 8) copyright
  #############################
  /v3.0/copyright/:
    get:
      operationId: getCopyright
      tags: [copyright]
      summary: Копирайт Яндекс.Расписаний
      parameters:
        - name: apikey
          in: query
          required: true
          schema: { type: string }
        - name: format
          in: query
          required: false
          schema: { type: string, enum: ["json","html"] }
      responses:
        "200":
          description: Success (CopyrightResponse or raw HTML)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CopyrightResponse"
            text/html:
              schema:
                type: string

components:
  schemas:

    #############################################
    # COMMON
    #############################################
    Pagination:
      type: object
      properties:
        total: { type: integer }
        limit: { type: integer }
        offset: { type: integer }

    Station:
      type: object
      properties:
        code: { type: string }
        title: { type: string }
        popular_title: { type: string }
        short_title: { type: string }
        type: { type: string }
        transport_type: { type: string }
      additionalProperties: true

    #############################################
    # 1) Nearest Stations
    #############################################
    NearestStationsResponse:
      type: object
      properties:
        pagination:
          $ref: "#/components/schemas/Pagination"
        stations:
          type: array
          items:
            $ref: "#/components/schemas/NearestStation"

    NearestStation:
      type: object
      properties:
        distance: { type: number }
        code: { type: string }
        station_type: { type: string }
        station_type_name: { type: string }
        type_choices:
          $ref: "#/components/schemas/TypeChoices"
        title: { type: string }
        popular_title: { type: string }
        short_title: { type: string }
        transport_type: { type: string }
        lat: { type: number }
        lng: { type: number }
        type: { type: string }
      additionalProperties: true

    TypeChoices:
      type: object
      properties:
        schedule:
          $ref: "#/components/schemas/ScheduleChoice"
      additionalProperties: true

    ScheduleChoice:
      type: object
      properties:
        desktop_url: { type: string }
        touch_url: { type: string }
      additionalProperties: true

    #############################################
    # 2) Schedule On Station
    #############################################
    ScheduleOnStationResponse:
      type: object
      properties:
        date: { type: string, nullable: true }
        pagination:
          $ref: "#/components/schemas/Pagination"
        station:
          $ref: "#/components/schemas/Station"
        schedule:
          type: array
          items:
            $ref: "#/components/schemas/ScheduleItem"
        interval_schedule:
          type: array
          items:
            $ref: "#/components/schemas/IntervalScheduleItem"
        schedule_direction:
          $ref: "#/components/schemas/ScheduleDirection"
        directions:
          type: array
          items:
            $ref: "#/components/schemas/ScheduleDirection"
      additionalProperties: true

    ScheduleItem:
      type: object
      properties:
        except_days: { type: string }
        arrival: { type: string }
        departure: { type: string }
        days: { type: string }
        platform: { type: string }
        stops: { type: string }
        terminal: { type: string }
        is_fuzzy: { type: boolean }
        stops_list:
          type: array
          items:
            $ref: "#/components/schemas/Stop"
        thread:
          $ref: "#/components/schemas/ThreadShort"
      additionalProperties: true

    IntervalScheduleItem:
      type: object
      properties:
        except_days: { type: string }
        days: { type: string }
        stops: { type: string }
        thread:
          $ref: "#/components/schemas/ThreadShort"
        is_fuzzy: { type: boolean }
      additionalProperties: true

    ScheduleDirection:
      type: object
      properties:
        code: { type: string }
        title: { type: string }

    #############################################
    # 3) Thread Details
    #############################################
    ThreadResponse:
      type: object
      properties:
        thread:
          $ref: "#/components/schemas/ThreadShort"
        stops:
          type: array
          items:
            $ref: "#/components/schemas/Stop"
      additionalProperties: true

    ThreadShort:
      type: object
      properties:
        uid: { type: string }
        title: { type: string }
        number: { type: string }
        short_title: { type: string }
        transport_type: { type: string }
        express_type: { type: string }
        vehicle: { type: string }
        carrier:
          type: object
          additionalProperties: true
        transport_subtype:
          type: object
          additionalProperties: true
      additionalProperties: true

    Stop:
      type: object
      properties:
        arrival: { type: string }
        departure: { type: string }
        platform: { type: string }
        terminal: { type: string }
        stop_time: { type: number }
        duration: { type: number }
        station:
          $ref: "#/components/schemas/Station"
      additionalProperties: true

    #############################################
    # 4) Search rides between stations
    #############################################
    SearchRidesResponse:
      type: object
      properties:
        pagination:
          $ref: "#/components/schemas/Pagination"
        interval_segments:
          type: array
          items:
            $ref: "#/components/schemas/IntervalSegment"
        segments:
          type: array
          items:
            $ref: "#/components/schemas/RideSegment"
        search:
          $ref: "#/components/schemas/SearchInfo"
      additionalProperties: true

    SearchInfo:
      type: object
      properties:
        date: { type: string }
        to:
          $ref: "#/components/schemas/SimpleStation"
        from:
          $ref: "#/components/schemas/SimpleStation"
      additionalProperties: true

    SimpleStation:
      type: object
      properties:
        code: { type: string }
        type: { type: string }
        title: { type: string }
        popular_title: { type: string }
        short_title: { type: string }
      additionalProperties: true

    IntervalSegment:
      type: object
      properties:
        from:
          $ref: "#/components/schemas/SimpleStation"
        to:
          $ref: "#/components/schemas/SimpleStation"
        thread:
          $ref: "#/components/schemas/RideThread"
        departure_platform: { type: string }
        departure_terminal: { type: string }
        stops: { type: string }
        has_transfers: { type: boolean }
        tickets_info:
          $ref: "#/components/schemas/TicketsInfo"
        duration: { type: integer }
        arrival_terminal: { type: string }
        arrival_platform: { type: string }
        start_date: { type: string }
      additionalProperties: true

    RideSegment:
      type: object
      properties:
        arrival: { type: string }
        departure: { type: string }
        from:
          $ref: "#/components/schemas/SimpleStation"
        to:
          $ref: "#/components/schemas/SimpleStation"
        thread:
          $ref: "#/components/schemas/RideThread"
        departure_platform: { type: string }
        departure_terminal: { type: string }
        stops: { type: string }
        has_transfers: { type: boolean }
        tickets_info:
          $ref: "#/components/schemas/TicketsInfo"
        duration: { type: integer }
        arrival_terminal: { type: string }
        arrival_platform: { type: string }
        start_date: { type: string }
      additionalProperties: true

    RideThread:
      type: object
      properties:
        uid: { type: string }
        title: { type: string }
        number: { type: string }
        short_title: { type: string }
        transport_type: { type: string }
        vehicle: { type: string }
        express_type: { type: string }
        carrier:
          $ref: "#/components/schemas/Carrier"
        transport_subtype:
          $ref: "#/components/schemas/TransportSubtype"
      additionalProperties: true

    Carrier:
      type: object
      additionalProperties: true

    TransportSubtype:
      type: object
      additionalProperties: true

    TicketsInfo:
      type: object
      properties:
        et_marker: { type: boolean }
        places:
          type: array
          items:
            $ref: "#/components/schemas/TicketPlace"
      additionalProperties: true

    TicketPlace:
      type: object
      properties:
        currency: { type: string }
        name: { type: string }
        price:
          $ref: "#/components/schemas/Price"
      additionalProperties: true

    Price:
      type: object
      properties:
        cents: { type: integer }
        whole: { type: integer }

    #############################################
    # 5) Nearest settlement (city)
    #############################################
    NearestSettlementResponse:
      type: object
      properties:
        distance: { type: number }
        code: { type: string }
        title: { type: string }
        popular_title: { type: string }
        short_title: { type: string }
        lat: { type: number }
        lng: { type: number }
        type: { type: string }
      additionalProperties: true

    #############################################
    # 6) Carrier response
    #############################################
    CarrierResponse:
      type: object
      properties:
        carriers:
          type: array
          items:
            $ref: "#/components/schemas/Carrier"
      additionalProperties: true

    #############################################
    # 7) Stations list (countries -> regions -> settlements -> stations)
    #############################################
    StationsListResponse:
      type: object
      properties:
        countries:
          type: array
          items:
            $ref: "#/components/schemas/Country"
      additionalProperties: true

    Country:
      type: object
      properties:
        codes:
          type: object
          additionalProperties: true
        title: { type: string }
        regions:
          type: array
          items:
            $ref: "#/components/schemas/Region"
      additionalProperties: true

    Region:
      type: object
      properties:
        codes:
          type: object
          additionalProperties: true
        title: { type: string }
        settlements:
          type: array
          items:
            $ref: "#/components/schemas/Settlement"
      additionalProperties: true

    Settlement:
      type: object
      properties:
        title: { type: string }
        codes:
          type: object
          additionalProperties: true
        stations:
          type: array
          items:
            $ref: "#/components/schemas/StationsListStation"
      additionalProperties: true

    StationsListStation:
      type: object
      properties:
        title: { type: string }
        direction: { type: string }
        station_type: { type: string }
        longitude: { type: number }
        latitude: { type: number }
        transport_type: { type: string }
        codes:
          type: object
          additionalProperties: true
      additionalProperties: true

    #############################################
    # 8) Copyright
    #############################################
    CopyrightResponse:
      type: object
      properties:
        copyright:
          type: object
          properties:
            logo_vm: { type: string }
            url: { type: string }
            logo_vd: { type: string }
            logo_hy: { type: string }
            logo_hd: { type: string }
            logo_vy: { type: string }
            logo_hm: { type: string }
            text: { type: string }
          additionalProperties: true
      additionalProperties: true
