openapi: 3.0.3
info:
  title: API.Rasp.Yandex.Net
  description: API Яндекс.Расписаний
  version: 3.0.0

servers:
  - url: https://api.rasp.yandex-net.ru

paths:
  #############################
  # 1) nearest_stations
  #############################
  /v3.0/nearest_stations/:
    get:
      operationId: getNearestStations
      summary: Список ближайших станций
      tags: [nearestStations]
      parameters:
        - name: apikey
          in: query
          required: true
          schema: { type: string }
        - name: lat
          in: query
          required: true
          schema: { type: number }
        - name: lng
          in: query
          required: true
          schema: { type: number }
        - name: distance
          in: query
          required: true
          schema: { type: integer }
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NearestStationsResponse"

  #############################
  # 2) schedule_on_station
  #############################
  /v3.0/schedule/:
    get:
      operationId: getScheduleOnStation
      summary: Расписание на станции
      tags: [scheduleOnStation]
      parameters:
        - name: apikey
          in: query
          required: true
          schema: { type: string }
        - name: station
          in: query
          required: true
          schema: { type: string }
        - name: date
          in: query
          schema: { type: string }
        - name: transport_types
          in: query
          schema: { type: string }
        - name: event
          in: query
          schema: { type: string }
        - name: system
          in: query
          schema: { type: string }
        - name: show_systems
          in: query
          schema: { type: string }
        - name: direction
          in: query
          schema: { type: string }
        - name: result_timezone
          in: query
          schema: { type: string }
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScheduleOnStationResponse"

  #############################
  # 3) thread details
  #############################
  /v3.0/thread/:
    get:
      operationId: getThread
      summary: Список станций следования нитки
      tags: [thread]
      parameters:
        - name: apikey
          in: query
          required: true
          schema: { type: string }
        - name: uid
          in: query
          required: true
          schema: { type: string }
        - name: from
          in: query
          schema: { type: string }
        - name: to
          in: query
          schema: { type: string }
        - name: date
          in: query
          schema: { type: string }
        - name: format
          in: query
          schema: { type: string }
        - name: lang
          in: query
          schema: { type: string }
        - name: show_systems
          in: query
          schema: { type: string }
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ThreadResponse"

  #############################
  # 4) rides between stations (search)
  #############################
  /v3.0/search/:
    get:
      operationId: getRidesBetweenStations
      summary: Расписание рейсов между станциями
      tags: [ridesBetweenStations]
      parameters:
        - name: apikey
          in: query
          required: true
          schema: { type: string }

        - name: from
          in: query
          required: true
          schema: { type: string }

        - name: to
          in: query
          required: true
          schema: { type: string }

        - name: date
          in: query
          schema: { type: string }

        - name: transport_types
          in: query
          schema: { type: string }

      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchRidesResponse"

components:
  schemas:

    #############################################
    # ✅ COMMON SCHEMAS
    #############################################

    Pagination:
      type: object
      properties:
        total: { type: integer }
        limit: { type: integer }
        offset: { type: integer }

    Station:
      type: object
      properties:
        code: { type: string }
        title: { type: string }
        popular_title: { type: string }
        short_title: { type: string }
        type: { type: string }
        transport_type: { type: string }
      additionalProperties: true

    #############################################
    # ✅ 1) Nearest Stations
    #############################################
    NearestStationsResponse:
      type: object
      properties:
        pagination:
          $ref: "#/components/schemas/Pagination"
        stations:
          type: array
          items:
            $ref: "#/components/schemas/NearestStation"

    NearestStation:
      type: object
      properties:
        distance: { type: number }
        code: { type: string }
        station_type: { type: string }
        station_type_name: { type: string }
        type_choices:
          $ref: "#/components/schemas/TypeChoices"
        title: { type: string }
        popular_title: { type: string }
        short_title: { type: string }
        transport_type: { type: string }
        lat: { type: number }
        lng: { type: number }
        type: { type: string }

    TypeChoices:
      type: object
      properties:
        schedule:
          $ref: "#/components/schemas/ScheduleChoice"

    ScheduleChoice:
      type: object
      properties:
        desktop_url: { type: string }
        touch_url: { type: string }

    #############################################
    # ✅ 2) Schedule On Station
    #############################################
    ScheduleOnStationResponse:
      type: object
      properties:
        date: { type: string }
        pagination:
          $ref: "#/components/schemas/Pagination"
        station:
          $ref: "#/components/schemas/Station"
        schedule:
          type: array
          items:
            $ref: "#/components/schemas/ScheduleItem"
        interval_schedule:
          type: array
          items:
            $ref: "#/components/schemas/IntervalScheduleItem"
        schedule_direction:
          $ref: "#/components/schemas/ScheduleDirection"
        directions:
          type: array
          items:
            $ref: "#/components/schemas/ScheduleDirection"

    ScheduleItem:
      type: object
      properties:
        except_days: { type: string }
        arrival: { type: string }
        departure: { type: string }
        days: { type: string }
        platform: { type: string }
        stops: { type: string }
        terminal: { type: string }
        thread:
          $ref: "#/components/schemas/ThreadShort"

    IntervalScheduleItem:
      type: object
      properties:
        except_days: { type: string }
        days: { type: string }
        stops: { type: string }
        thread:
          $ref: "#/components/schemas/ThreadShort"

    ScheduleDirection:
      type: object
      properties:
        code: { type: string }
        title: { type: string }

    #############################################
    # ✅ 3) Thread Details
    #############################################
    ThreadResponse:
      type: object
      properties:
        thread:
          $ref: "#/components/schemas/ThreadShort"
        stops:
          type: array
          items:
            $ref: "#/components/schemas/Stop"

    ThreadShort:
      type: object
      properties:
        uid: { type: string }
        title: { type: string }
        number: { type: string }
        short_title: { type: string }
        transport_type: { type: string }
        express_type: { type: string }
        vehicle: { type: string }
        carrier:
          type: object
          additionalProperties: true
        transport_subtype:
          type: object
          additionalProperties: true

    Stop:
      type: object
      properties:
        arrival: { type: string }
        departure: { type: string }
        platform: { type: string }
        terminal: { type: string }
        stop_time: { type: number }
        duration: { type: number }
        station:
          $ref: "#/components/schemas/Station"

    #############################################
    # ✅ 4) Search rides between stations
    #############################################

    SearchRidesResponse:
      type: object
      properties:
        pagination:
          $ref: "#/components/schemas/Pagination"
        interval_segments:
          type: array
          items:
            $ref: "#/components/schemas/IntervalSegment"
        segments:
          type: array
          items:
            $ref: "#/components/schemas/RideSegment"
        search:
          $ref: "#/components/schemas/SearchInfo"

    SearchInfo:
      type: object
      properties:
        date: { type: string }
        to:
          $ref: "#/components/schemas/SimpleStation"
        from:
          $ref: "#/components/schemas/SimpleStation"

    SimpleStation:
      type: object
      properties:
        code: { type: string }
        type: { type: string }
        title: { type: string }
        popular_title: { type: string }
        short_title: { type: string }

    IntervalSegment:
      type: object
      properties:
        from:
          $ref: "#/components/schemas/SimpleStation"
        to:
          $ref: "#/components/schemas/SimpleStation"
        thread:
          $ref: "#/components/schemas/RideThread"
        departure_platform: { type: string }
        departure_terminal: { type: string }
        stops: { type: string }
        has_transfers: { type: boolean }
        tickets_info:
          $ref: "#/components/schemas/TicketsInfo"
        duration: { type: integer }
        arrival_terminal: { type: string }
        arrival_platform: { type: string }
        start_date: { type: string }

    RideSegment:
      type: object
      properties:
        arrival: { type: string }
        departure: { type: string }
        from:
          $ref: "#/components/schemas/SimpleStation"
        to:
          $ref: "#/components/schemas/SimpleStation"
        thread:
          $ref: "#/components/schemas/RideThread"
        departure_platform: { type: string }
        departure_terminal: { type: string }
        stops: { type: string }
        has_transfers: { type: boolean }
        tickets_info:
          $ref: "#/components/schemas/TicketsInfo"
        duration: { type: integer }
        arrival_terminal: { type: string }
        arrival_platform: { type: string }
        start_date: { type: string }

    RideThread:
      type: object
      properties:
        uid: { type: string }
        title: { type: string }
        number: { type: string }
        short_title: { type: string }
        transport_type: { type: string }
        vehicle: { type: string }
        express_type: { type: string }
        carrier:
          $ref: "#/components/schemas/Carrier"
        transport_subtype:
          $ref: "#/components/schemas/TransportSubtype"

    Carrier:
      type: object
      additionalProperties: true

    TransportSubtype:
      type: object
      additionalProperties: true

    TicketsInfo:
      type: object
      properties:
        et_marker: { type: boolean }
        places:
          type: array
          items:
            $ref: "#/components/schemas/TicketPlace"

    TicketPlace:
      type: object
      properties:
        currency: { type: string }
        name: { type: string }
        price:
          $ref: "#/components/schemas/Price"

    Price:
      type: object
      properties:
        cents: { type: integer }
        whole: { type: integer }
